S3method(as.data.frame,epiDCM)
S3method(as.data.frame,epiICM)
S3method(as.data.frame,epiNet.simTrans)
S3method(comp.plot,epiDCM)
S3method(comp.plot,epiICM)
S3method(comp.plot,epiNet.simTrans)
S3method(merge,epiICM)
S3method(merge,epiNet.simTrans)
S3method(plot,conc.microsim)
S3method(plot,epiDCM)
S3method(plot,epiICM)
S3method(plot,epiNet.est)
S3method(plot,epiNet.simNet)
S3method(plot,epiNet.simTrans)
S3method(print,dissolution.coefs)
S3method(print,epiDCM)
S3method(print,epiICM)
S3method(print,epiNet.est)
S3method(print,epiNet.simNet)
S3method(print,epiNet.simTrans)
S3method(summary,epiDCM)
S3method(summary,epiICM)
S3method(summary,epiNet.est)
S3method(summary,epiNet.simTrans)
export(bip.degdist.check)
export(bipvals)
export(births)
export(brewer.ramp)
export(colorTEA)
export(comp.plot)
export(conc.microsim)
export(deaths.inf)
export(deaths.rec)
export(deaths.sus)
export(discord.edgelist)
export(dissolution.coefs)
export(edgelist.censor)
export(edgelist.meanage)
export(epiDCM)
export(epiICM)
export(epiNet.est)
export(epiNet.simNet)
export(epiNet.simTrans)
export(get.nodematch.attributes)
export(get.prev)
export(get.stat)
export(gui.epiDCM)
export(idmode)
export(infection)
export(init.inf.time)
export(init.pids)
export(init.status)
export(modeids)
export(node.active)
export(recovery)
export(set.nodematch.attributes)
export(transco)
import(RColorBrewer)
import(deSolve)
import(network)
import(networkDynamic)
import(statnet.common)
import(tergm)
